<div class="bgimg-1">¨
  <span class="title"> <h1><%= @list.name %></h1> </span>

  <div class="cards">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="card-item">
        <p><%= movie.title %></p>
        <p><%= movie.rating %></p>
        <p><%= movie.overview %></p>
        <p><%= bookmark.comment %></p>
      </div>
    <% end %>
  </div>





  <%= link_to "Back to the list", lists_path %>
  <%= link_to "Create a bookmark", new_list_bookmark_path(@list)%>
</div>
